# Auto detect text files and perform LF normalization
* text=auto
*.cs filter=lfs diff=lfs merge=lfs -text
*.cs.meta filter=lfs diff=lfs merge=lfs -text
Game[[:space:]]Launch filter=lfs diff=lfs merge=lfs -text
*.meta filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
